<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Here is the list of students eligible for the bursary</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FormResponse response in Model)
                {
                    <tr>
                        <td>@response.Name</td>
                        <td>@response.Email</td>
                        <td>@response.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   
        
</body>
</html>


