<!DOCTYPE html>
<html>
<head>
    <style>
        img {
            border-radius: 8px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/css/StyleSheet.css")" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
 
    <div class="text-center">
        @if (ViewBag.Greeting < 12)
        {
            <h3>Good Morning dear Student<br /></h3>
        }
        else
        {
            <h3>Good Evening dear Student<br /></h3>
        }
        <h3>
            <img src="bursarypng.png" alt="image"> <br />
            Our college has announced an exciting bursary for students! <br />
            <a class="btn btn-primary" asp-action="BursaryForm">Apply For Bursary Now</a>
        </h3>
    </div>
</body>
</html>

 